/* RoundEnd.css */

.round-end {
  position: absolute;
  top: 33%;
  text-align: center;
  margin: 20px 0;
}

.round-end h2 {
  margin-bottom: 1rem;
}

.round-end h3 {
  margin-bottom: 1rem;
}
.round-end div {
  margin-bottom: 0.3rem;
}

.round-end button {
  margin-top: 1rem;
}

.b2{
  width: auto;
  height: auto;
  font-size: auto;
}

@media (max-width: 768px) {
  .round-end{
    scale: 80%;

  }
}