/* PlayerHand.css */
.player-hand {
  margin: 20px 0;
}

.player-hand .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.player-hand img {
  margin: 5px;
  width: 80px;
  cursor: default;
}

.player-hand img.clickable {
  cursor: pointer;
  border: 2px solid blue;
}
